<!-- <div class="container">
    <h2>View 2</h2>
    Name:
    <br />
    <input type="text" ng-model="search"/>
    <br/>
    <ul>
        <li ng-repeat="customer in listOfCustomers | filter:search ">{{customer.name}} lives in {{customer.city}}</li>
    </ul>
    
    </div> -->

<div class="container">
    <h2>View 4</h2>
    Name:
    <br />
    <input type="text" ng-model="filter.search"/>
    <br/>
    <ul>
        <li ng-repeat="customer in listOfCustomers | filter:filter.search ">{{ customer.name }} - {{ customer.city }}</li>
    </ul>

    <br />
    Customer Name:<br/>
    <input type="text" ng-model="newCustomer.name"/>
    <br/>
    Customer City:<br/>
    <input type="text" ng-model="newCustomer.city"/>
    <br/>
    <button ng-click="addCustomer()">Add Customer</button>
    <br/>
    <a href="#/view2">View 2</a>

</div>